
<p-confirmPopup></p-confirmPopup>
<p-dataView [value]="projectService.projects" layout="list">
  <ng-template let-project pTemplate="listItem">
    <div class="col-12">
     <div class="project-list-item" [ngClass]="currentProjectClass(project)">
       <div class="project-list-detail" *ngIf="isCurrentProject(project)">
         <div class="in-place-edit">
           <p-inplace [closable]="true" closeIcon="pi pi-check" #inPlaceName>
             <ng-template pTemplate="display">
               <span class="project-name">{{project.name?project.name:'Please enter a name'}}<i class="pi pi-pencil edit-icon"></i></span>
             </ng-template>
             <ng-template pTemplate="content">
               <input type="text" id="project-name-edit" [(ngModel)]="project.name" pInputText (focusout)="inPlaceName.deactivate(); inPlaceDescription.activate()" #editName>{{ editName.focus() }}
             </ng-template>
           </p-inplace>
           <p-inplace [closable]="true" closeIcon="pi pi-check" #inPlaceDescription>
             <ng-template pTemplate="display">
               <span class="project-description">{{project.description?project.description:'Please enter a description'}}<i class="pi pi-pencil edit-icon"></i></span>
             </ng-template>
             <ng-template pTemplate="content">
               <input type="text" id="project-description-edit" size="50" [(ngModel)]="project.description" pInputText (focusout)="inPlaceDescription.deactivate()" #editDescription>{{ editDescription.focus() }}
             </ng-template>
           </p-inplace>
         </div>
         <i class="pi pi-inbox project-category-icon"></i><span class="project-category">Current Project</span>
       </div>
       <div class="project-list-detail" *ngIf="!isCurrentProject(project)">
         <div class="project-name">{{project.name}}</div>
         <div class="project-description">{{project.description}}</div>
         <ng-container *ngIf="project.template">
           <i class="pi pi-bookmark project-category-icon"></i><span class="project-category">Template</span>
         </ng-container>
         <ng-container *ngIf="!project.template">
           <i class="pi pi-briefcase project-category-icon"></i><span class="project-category">Project</span>
         </ng-container>
       </div>
       <div class="project-list-action">
         <span class="project-date">{{project.lastUpdated | date}}</span>
         <p-button *ngIf="isCurrentProject(project)" icon="pi pi-save" label="Save" (onClick)="saveCurrentProject($event)" ></p-button>
         <p-button icon="pi pi-play" label="{{playButtonLabel(project)}}" (onClick)="loadProject(project)"></p-button>
       </div>
       </div>
    </div>
  </ng-template>
</p-dataView>
