
.in-place-edit {
 margin-bottom: 1.0rem;
}

.edit-icon {
  margin-left: 1.0rem;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-description {
  margin: 0 0 1rem 0;
}

.project-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.project-category {
  font-weight: 600;
  vertical-align: middle;
}

.project-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
  }

  .project-list-detail {
    flex: 1 1 0;
  }

  .p-rating {
    margin: 0 0 .5rem 0;
  }

  .project-date {
    font-size: 1.0rem;
    font-weight: normal;
    margin-bottom: .5rem;
    align-self: flex-end;
  }

  .project-list-action {
    display: flex;
    flex-direction: column;
  }

  p-button {
    margin-bottom: .1rem;
    align-self: flex-end;
  }
}

.current-project-item {
 background-color: var(--green-50)
}
@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
