<span class="displayable">{{(element.schemaPosition | locale)}}</span>
<mat-form-field class="displayable">
  <mat-label>{{(element.schemaPosition | localeDesc)}}</mat-label>
  <mat-select [id]="element.id" (selectionChange)="onChange($event)" [value]="element.getEditedValue()">
    <ng-container *ngFor="let option of element.values">
      <mat-option [value]="calculateOptionValue(option)" >
        {{(option | locale)}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
