<span class="displayable">{{(element.schemaPosition | locale)}}</span>
<p-autoComplete class="displayable" [ngModel]="editedValue()" [group]="true" [id]="element.id" [suggestions]="filteredElements" (completeMethod)="filterGroupedElements($event)"
                (onSelect)="onChange($event)" [dropdown]="true" [readonly]="element.isReadonly()">
  <ng-template let-group pTemplate="group">
    <div class="p-d-flex p-ai-center">
      <span>{{group.label}}</span>
    </div>
  </ng-template>
  <ng-template let-option pTemplate="item">
    {{(option | locale)}}
  </ng-template>
</p-autoComplete>
<!-- p-dropdown class="displayable" [id]="element.id" [options]="element.values" (onChange)="onChange($event)" [ngModel]="element?.getEditedValue()">
  <ng-template let-option pTemplate="item">
    {{(option | locale)}}
  </ng-template>
</p-dropdown -->

