<span class="displayable" >{{(element.schemaPosition | locale)}}</span>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="displayable" [id]="element.id">{{(element.schemaPosition | localeDesc)}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="margin-left: 20px">
    <ng-content></ng-content>
  </div>
  <mat-action-row>
    <button *ngIf="element.type==='array'" type="button" mat-icon-button (click)="addElement()">
      <mat-icon aria-label="Add item">add</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>
