<ng-container>
  <ng-container *ngFor="let element of listOfElements">
    <ng-container [ngSwitch]="element.type">
      <br *ngSwitchCase="'newLine'"/>
      <ide-ui-text-element *ngSwitchCase="'string'" [text]="element.value" [elementId]="element.id"></ide-ui-text-element>
      <ide-ui-sub-text-element *ngSwitchCase="'object-start'" [text]="element.value" [elementId]="element.id" [start]="true"></ide-ui-sub-text-element>
      <ide-ui-sub-text-element *ngSwitchCase="'object-end'" [text]="element.value" [elementId]="element.id" [start]="false"></ide-ui-sub-text-element>
      <ide-ui-sub-text-element *ngSwitchCase="'array-start'" [text]="element.value" [elementId]="element.id" [start]="true"></ide-ui-sub-text-element>
      <ide-ui-sub-text-element *ngSwitchCase="'array-end'" [text]="element.value" [elementId]="element.id" [start]="false"></ide-ui-sub-text-element>
      <ide-ui-select-element *ngSwitchCase="'list'" [options]="element.values" [elementId]="element.id"></ide-ui-select-element>
      <ide-ui-input-element *ngSwitchCase="'input'" [elementId]="element.id"></ide-ui-input-element>
    </ng-container>
  </ng-container>
</ng-container>
