<h2>Welcome to Dont-code !</h2>
<p>You are running the Builder application of the Dont-code platform.</p>
<p>Use this tool to create new applications or load and edit their behaviors.</p>
<div class="grid align-items-stretch">
<div class="welcome-question col-12">
  <h2>Tutorials</h2>
</div>
<div class="col-12 md:col-6">
  <p-card header="Show me a demo" subheader="The fastest way to see the Dont-code platform in action is to load an existing project.">
    <div class="welcome-item"><p-badge value="1"></p-badge> Open the Previewer by clicking on <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-external-link"></button> on the top bar.</div>
    <div class="welcome-item"><p-badge value="2"></p-badge> Then select the menu <i class="pi pi-home" style="font-size: 1.1rem">&nbsp;Projects</i> on the side bar.</div>
    <div class="welcome-item"><p-badge value="3"></p-badge> Load the Task Manager project <p-button icon="pi pi-play" label="Play"></p-button></div>
    <div class="welcome-item"><p-badge value="4"></p-badge> Edit some elements in the <i class="pi pi-pencil" style="font-size: 1.1rem">&nbsp;Editor</i></div>
    <div class="welcome-item"><p-badge value="5"></p-badge> And watch the Previewer acting accordingly <img src="assets/images/preview-ui-tab.png" /></div>
  </p-card>
</div>
<div class="col-12 md:col-6">
  <p-card header="Start from scratch" subheader="Gets more insights by working from a blank project">
    <div class="welcome-item"><p-badge value="1"></p-badge> Open the Previewer by clicking on <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-external-link"></button> on the top bar.</div>
    <div class="welcome-item"><p-badge value="2"></p-badge> Then Create a new application by clicking on <i class="pi pi-download" style="font-size: 1.1rem">&nbsp;New Application</i> icon.</div>
    <div class="welcome-item"><p-badge value="3"></p-badge> Edit some elements in the <i class="pi pi-pencil" style="font-size: 1.1rem">&nbsp;Editor</i></div>
    <div class="welcome-item"><p-badge value="4"></p-badge> And watch the Previewer acting accordingly <img src="assets/images/preview-ui-tab.png" /></div>
    <div class="welcome-item"><p-badge value="5"></p-badge> You can save your work by selecting <i class="pi pi-home" style="font-size: 1.1rem">&nbsp;Projects</i> on the side bar.</div>
    <div class="welcome-item"><p-badge value="6"></p-badge> And select <p-button icon="pi pi-save" label="Save"></p-button> button.</div>
  </p-card>
</div>

</div>
