<h1>Welcome to DontCode !</h1>
<h2>How to play with it ?</h2>
<p>You can <b>check you are connected</b> to the online service by looking at the <mat-icon>sync</mat-icon> icon in the header panel.</p>
<p><mat-icon color="primary">sync</mat-icon> means you are ok, <mat-icon color="warn">sync_problem</mat-icon> you have connection issue to the online service. Please check the browser log in this case</p>
<p>If <mat-icon color="primary">sync</mat-icon>, then <b>open the preview</b> by clicking on <mat-icon>screen_share</mat-icon>.It should open a new tab with the Preview engine. As well, the preview engine connects to online services</p>
<p>Then <b>select the left menu "Editor"</b> and <b>start filling values</b> and see the Preview application reacting to it in realtime !</p>

<h2>Can I see something ?</h2>
<p>Of course ! This demo version is still very limited but it can show you the principle.Over the time, the functionality of DontCode will increase as Plugins are added</p>

<h2>How does it work ?</h2>
<p>You are running the Application Editor part, it connects to an online servicet hat receives updates as you make them and dispatch the updates to the Preview Engine</p>

<h2>Dontcode will be a complete application builder</h2>
<p>Showing you in realtime a preview of your application as you build it.
You build it by answering questions about what you want the application to do</p>

