<h1>Welcome to DontCode !</h1>
<h2>How to play with it ?</h2>
<p>You can <b>check you are connected</b> to the online service by looking at the <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-sort"></button> icon in the header panel.</p>
<p><button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-sort"></button> means you are ok, <button pButton type="button" class="p-button-rounded p-button-outlined p-button-danger" icon="pi pi-sort"></button> you have connection issue to the online service. Please check the browser log in this case</p>
<p>If <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-sort"></button>, then <b>open the preview</b> by clicking on <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-external-link"></button>.It should open a new tab with the Preview engine. As well, the preview engine connects to online services</p>
<p>Then <b>select the left menu "Editor"</b> and <b>start filling values</b> and see the Preview application reacting to it in realtime !</p>

<h2>Can I see something ?</h2>
<p>Of course ! This demo version is still very limited but it can show you the principle.Over the time, the functionality of DontCode will increase as Plugins are added</p>

<h2>How does it work ?</h2>
<p>You are running the Application Editor part, it connects to an online servicet hat receives updates as you make them and dispatch the updates to the Preview Engine</p>

<h2>Dontcode will be a complete application builder</h2>
<p>Showing you in realtime a preview of your application as you build it.
You build it by answering questions about what you want the application to do</p>

